.widgetInput {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--widget-input-border-color);
  background-color: var(--widget-background-color);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--widget-text-color);
  transition: all 200ms ease-in;
  cursor: pointer;

  &::placeholder {
    color: #8f93a2;
  }

  &:focus {
    outline: 2px solid var(--widget-accent-color);
    outline-offset: 1px;
    box-shadow: none;
  }
}
