.widgetButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--widget-accent-color);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: white;
  transition: all 200ms ease-in;
  white-space: nowrap;
  cursor: pointer;

  &:focus {
    outline-offset: 2px;
    box-shadow: none;
  }

  img {
    margin-right: 0.5rem;
    width: 1.25rem;
    max-width: 1.25rem;
  }

  // SECONDARY
  &__Default {
    border: 0;
    color: #555d71;
    background-color: var(--widget-muted-color);
  }

  &__Default:hover {
    background-color: var(--widget-muted-hover-color);
  }

  &__Default:focus {
    outline: 2px solid var(--widget-muted-color);
  }

  // PRIMARY
  &__Primary {
    background-color: var(--widget-accent-color);
  }

  &__Primary:hover {
    background-color: var(--widget-accent-hover-color);
  }

  // When the button is focused, you might see a blue outline around it. This is the default browser focus outline.
  // We can override this with box-shadow, to remove the default outline but for now I am keeping it.
  &__Primary:focus {
    outline: 2px solid var(--widget-accent-color);
  }

  // SECONDARY
  &__Secondary {
    background-color: var(--widget-secondary-color);
  }

  &__Secondary:hover {
    background-color: var(--widget-secondary-hover-color);
  }

  &__Secondary:focus {
    outline: 2px solid var(--widget-secondary-color);
  }
}

// Utility classes
.widgetButton {
  &__FullWidth {
    width: 100%;
  }
}
