.poweredBy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  color: var(--widget-text-muted-color);
  letter-spacing: 0.1px;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    color: var(--widget-text-muted-color);
    text-decoration: none;
  }

  .footerCompanyName {
    line-height: 0.75rem;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.0876404px;
    font-weight: 700;
  }
}
