.widget {
  height: 100%;
  background-color: white;
  overflow-y: scroll;

  // Hide scrollbar for Edge & Firefox
  -ms-overflow-style: none;
  scrollbar-width: none;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  .widgetMainContent {
    position: relative;
    z-index: 10;
    opacity: 0;

    &.widgetExpanded {
      height: 100%;
      animation-name: fadeIn;
      animation-duration: 200ms;
      animation-timing-function: ease-in;
      animation-delay: 200ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
