.widget {
  height: 100%;
  background-color: white;
  overflow-y: scroll;

  // Hide scrollbar for Edge & Firefox
  -ms-overflow-style: none;
  scrollbar-width: none;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }
}
